*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:16px;
    max-width:1280px;
    user-select: none;
}
@font-face {
    font-family:myfont;
    src: url(../Volkhov-Regular.ttf);
}
body{
    font-family:myfont;
    background-image: url(../images/23.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f5cb5c;
    position: relative;
}
.thank{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vw;
    width:40%;
    margin: 0 auto 0 auto;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.buttonfinish{
    border: 1px solid #000;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    background-color:#fff;
    transition:all .6s ease-out;
}
.buttonfinish:hover{
    color:#fff;
    background-color:#70e000;
    border:none;
    border-bottom:2px solid #000;
}
.hvr-skew-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
  }
  .line1{
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 90%;
    border-radius: 2px;
    top: 11px;
    left: 19px;
  }
  
  .line2{
    position: absolute;
    background-color: #70e000;
    width: 20px;
    height:0;
    border-radius: 2px;
    top: 11px;
    left: 19px;
    animation:line2 10s ease-in-out 1 forwards;
  }
  @keyframes line2 {
      from{height:0;}
      to{height:90%;}
  }

  .doneicon{
      font-size:1.5em;
      color:#70e000;
  }

  .order_page{
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: .9em;
      padding: 3px;
      cursor: pointer;
      transition: all 1s ease-in-out;
      color: #fff;
  }
  .order_page::before{
    content:'';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #70e000;
    transition: all .6s ease-in-out;
    top: 90%; 
  }
  .order_page:hover::before{
     width: 94%; 
     height: 4px; 
     background-color: #70e000;
  }
 
  .tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

    .lds-facebook {
      display: none;
      position: relative;
      width: 80px;
      height: 80px;
      top: 300px;
      left: 48%;
      animation: transform 1s ease alternate infinite;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 16px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 8px;
        height: 64px;
      }
      50%, 100% {
        top: 24px;
        height: 32px;
      }
    }
      
      /* responsive page : : : : : : : : : : : : :  */

      @media screen and (max-width : 500px){
        body{
          height: 100vh;
          background-position: top center;
          background-size: 165%;
          background-position-y: bottom;
        }
        .thank{
          height: 70vw;
          width: 97%;
          margin: 4px auto 0 auto;
        }
        .line1,
        .line2{
          left: 10px;
        }
        .phonenumber,
        .serial{
          font-size: .8em;
        }
        .buttonfinish{
          font-size: .9em;
        }
       h1{
         margin-left: 5px;
         font-size: .8em;
       }
       .order_page{
        z-index: 1;
        top: unset;
        bottom: 4%;
        right: 41%;
        color: #fff;
       }
       @keyframes transform {
         from{transform: translateX(0);}
         to{transform: translateX(74vw);}
       }
       .lds-facebook{
         top: unset;
         left: unset;
       }
      }
      @media screen and (min-width : 501px) and (max-width : 904px){
        body{
          height: 100vh;
        }
        .thank{
          width: 70%;
          height: 30%;
        }
        h1{
          font-size: .8em;
        }
        .order_page{
          color: #fff;
          right: 14px;
        }
        @keyframes transform {
          from{transform: translateX(0);}
          to{transform: translateX(74vw);}
        }
        .lds-facebook{
          top: unset;
          left: unset;
        }
      }
      @media screen and (min-width : 905px) and (max-width : 1000px){
        body{
          height: 100vh;
          background-size: 1000px;
        }
        .thank{
          width: 70%;
          height: 30%;
        }
        h1{
          font-size: .8em;
        }
        .order_page{
          color: #fff;
          right: 14px;
        }
        @keyframes transform {
          from{transform: translateX(0);}
          to{transform: translateX(74vw);}
        }
        .lds-facebook{
          top: unset;
          left: unset;
        }
      }